html {
  font-size: 18px;
  font-family: "Arial", "Helvetica", "Univers", "Zurich BT", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  margin: 0 auto;
  background-image: url("../images/Background.gif")
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1.25rem 0;
}

.banner {
  width: 30rem;
}

h1 {
  box-sizing: border-box;
  display: block;
  height: 5rem;
  padding: 1rem;
  border: 0.5rem ridge darkgoldenrod;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  }


h2 {
  padding-top: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

nav {
  width: 10rem;
}

.btn {
  box-sizing: border-box;
  display: block;
  padding: 0.5rem;
  border: 0.5rem ridge darkgoldenrod;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all 1s;
}

.btn:hover, .btn:focus {
  background-color: gold;
  text-decoration: underline;
  outline: none;
}

.active {
  background-color: goldenrod;
}

nav img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  justify-content: space-between;
  width: 40rem;
}

main .img-container {
  width: 30rem;
}

#wandbild {
  width: 30rem;
  height: 26.5rem;
  padding: 2rem 3rem 0 3rem;
}

.img-col {
  width: 5rem;
  margin-left: 4rem;
}

#wetterfahne {
  width: 5rem;
  height: 6.25rem;
}

#plakette {
  width: 5rem;
  height: 7.5rem;
}

footer {
  display: flex;
}

footer .img-container {
  width: 10rem;
}

#dorfkirche {
  width: 10rem;
  height: 15rem;
}

footer nav {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 30rem;
  padding-top: 2rem;
}

footer a {
  height: auto;
  padding: 0.25rem;
}
